
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Imported Rule 1" stopProcessing="true">
            <match url="^$"  />
            <action type="Rewrite" url="/project/public/"  />
        </rule>
        <rule name="Imported Rule 2" stopProcessing="true">
            <match url="(.*)"  />
            <action type="Rewrite" url="/project/public/{R:1}"  />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>